{% extends "admin/change_list.html" %}

{% block object-tools %}

    <ul class="tools">
      <li>
          <a id="add-object" href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          Agregar {{ name }}
        </a>
      </li>
    </ul>

    <script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            if(getURLParameter("object_id")!="null"){
                //$("div#breadcrumbs").hide();
                url = $("a#add-object").attr("href");
                url = url+"?object_id="+getURLParameter("object_id")+"&content_type=22";
                $("a#add-object").attr("href", url);
            }
        });
    })(django.jQuery);
    </script>

{% endblock %}