{% extends "admin/change_list.html" %}

{% block object-tools %}

    <ul class="tools">
      <li>
          <a id="add-object" href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          Agregar {{ name }}
        </a>
      </li>
    </ul>

    <script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            if(getURLParameter("object_id")!="null"){
                $.getJSON("{% url contenttype_by_model_name 'municipio' %}", function(data){
                    municpio_ct_id = data.id;
                    url = $("a#add-object").attr("href");
                    url = url+"?object_id="+getURLParameter("object_id")+"&content_type="+municpio_ct_id;
                    $("a#add-object").attr("href", url);
                });
            }
        });
    })(django.jQuery);
    </script>

{% endblock %}