{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    (function($) {
                $("input[id^='id_instituciones']").click(function(){
                    var check = $(this);
                    var inline_id = check.attr('id');
                    inline_id = inline_id.split('-')[1];
                    if(check.is(":checked")){
//                        $(check).next('div.row').hide();
                    }else{
//                        $(check).next('div.row').show();

                    }
                });
    })(django.jQuery);
</script>
{% endblock %}